<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
      <h1>Books</h1>
      
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
		</div>
      <table class="table table-striped">
      	<tbody>
      	<tr>
      	<th>Title</th>
      	<th>Author</th>
      	<th>Year</th>
      	<th>Isbn</th>
      	<th>Price</th>
      	<th>Category</th>
      	<th sec:authorize="hasRole('ADMIN')">Options</th>
      	</tr>
      	
      	<tr th:each = "book:${books}">
      		<td th:text = "${book.title}"></td>
      		<td th:text = "${book.author}"></td>
      		<td th:text = "${book.year}"></td>
      		<td th:text = "${book.isbn}"></td>
      		<td th:text = "${book.price}+€"></td>
      		<td th:text="${book.category.name}"></td> 	
      		<td sec:authorize="hasRole('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a>
      			<a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-success">Edit</a> 
      		</tr>
      	</tbody>
      </table>
      <a href="/add" class="btn btn-primary">Add book</a>
</body>
</html>